<body>
    Hi {{club.name}},
    Thank you for using Greater London's Early Entry service. Please keep this email for your records.

    <h3>Registered Athletes</h3>
    <table>
        <thead>
            <tr>Name</tr>
            <tr>Weight Class</tr>
            <tr>Contact Info</tr>
        </thead>
        <tbody>
            {% for athlete in athletes %}
            <tr>
                <td>{{athlete.firstName}} {{athlete.lastName}}</td>
                <td>{{athlete.weightClass}}</td>
                <td>{{athlete.contactInfo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    Regards,
    Dom Patmore
    Greater London Powerlifting
</body>